{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="bg-white text-dark rounded p-3">
        <form action="" method="post">
            {% csrf_token %}

            <div class="d-grid gap-2">
                <div class="row">
                    <div class="col">
                        {{ form.specialty|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.educational_program|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.educational_level|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.group|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.education_form|as_crispy_field }}
                    </div>
                    <div class="col">
                        {{ form.entry_date|as_crispy_field }}
                    </div>
                </div>
            </div>

            <button class="btn btn-primary mt-3" type="submit">Edit</button>
            <a class="btn btn-outline-danger mt-3" href="{% url 'profile_view' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
